@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

@theme {
    /* Fonts */
    --font-sans: "Inter", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;

    /* Primary Colors */
    --color-primary-50: #eff6ff;
    --color-primary-100: #dbeafe;
    --color-primary-200: #bfdbfe;
    --color-primary-300: #93c5fd;
    --color-primary-400: #60a5fa;
    --color-primary-500: #3b82f6;
    --color-primary-600: #2563eb;
    --color-primary-700: #1d4ed8;
    --color-primary-800: #1e40af;
    --color-primary-900: #1e3a8a;

    /* Secondary Colors */
    --color-secondary-50: #f0fdf4;
    --color-secondary-100: #dcfce7;
    --color-secondary-200: #bbf7d0;
    --color-secondary-300: #86efac;
    --color-secondary-400: #4ade80;
    --color-secondary-500: #22c55e;
    --color-secondary-600: #16a34a;
    --color-secondary-700: #15803d;
    --color-secondary-800: #166534;
    --color-secondary-900: #14532d;

    /* Accent, Danger, Dark */
    --color-accent-500: #f59e0b;
    --color-danger-500: #ef4444;
    --color-dark-500: #111827;
}

@layer base {
    html{
        @apply  scroll-smooth;
    }
 
    body {
        @apply font-sans bg-gray-50;
    }
}

@layer components {
    .btn-primary {
        @apply inline-flex px-4 py-2 rounded-md font-medium text-white bg-primary-600 hover:bg-primary-700 transition;
    }
    .btn-secondary {
        @apply inline-flex px-4 py-2 rounded-md font-medium text-white bg-secondary-600 hover:bg-secondary-700 transition;
    }

    .card {
        @apply bg-white shadow-md rounded-lg p-6;
    }

    .input-field {
        @apply border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-primary-500;
    }
}
